@model UniProject.DataLayer.DTOs.LoginViewModel
@{
    ViewData["Title"] = "ورود به سایت";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ورود به سایت</title>
</head>
<body>

    <div style="background-image:url('/images/back-login.jpg');background-repeat:no-repeat;background-attachment:fixed;background-size:cover;">
        <br />
        <br />
        <br />
        <br />
        <h4 class="text-center">ورود به سایت</h4>
        <hr />
        <br />
        
        
             <h5 class="text-center">آیا حساب کاربری ندارید؟ 
            <a href="/User/Register">حساب کاربری ایجاد کنید</a></h5>
            <br />
        
       
        <div class="row">
            <div class="col-md-4" style="margin:0 auto 0; background-color:rgba(154, 194, 166,0.3);border-radius:10px;border:1px #9CA2A1  solid;">
                <form asp-action="Login" style="color:black;" class="text-center">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" style="margin-right:120px;margin-top:10px;" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="ورود" class="btn btn-primary col-md-6" />
                    </div>
                </form>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>

</body>
</html>
