@model UniProject.DataLayer.DTOs.ResetPasswordViewModel
@{
    ViewData["Title"] = "ویرایش پسوورد";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ویرایش پسوورد</title>
</head>
<body>

    <div style="background-image:url('/userImages/back-user-page.jpg');background-repeat:no-repeat;background-attachment:fixed;background-size:cover;">
        <br />
        <br />
        <br />
        <br />
        <h4 class="text-center" style="margin-top:30px;">ویرایش پسوورد</h4>
        <hr />
        <br />

        <div class="row">
            <div class="col-md-4" style="margin:0 auto 0; background-color:rgba(154, 194, 166,0.3);border-radius:10px;border:1px #9CA2A1  solid;">
                <form asp-action="ResetPassword" style="color:black;" class="text-center">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="CurrentPassword" class="control-label"></label>
                        <input asp-for="CurrentPassword" class="form-control" />
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword" class="control-label"></label>
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ReNewPassword" class="control-label"></label>
                        <input asp-for="ReNewPassword" class="form-control" />
                        <span asp-validation-for="ReNewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="ویرایش" class="btn btn-primary col-md-6" />
                    </div>
                </form>
            </div>
        </div>

        <br />
        <br />
        <br />
        <br />
        <br />
    </div>

</body>
</html>
