@{
    ViewData["Title"] = "پیام سیستم";
}
<br />
<br />
<br />
<br />
<div class="alert alert-success">
    <h2>
        ثبت نام شما با موفقت انجام شد. لطفا از طریق لینک زیر وارد سایت شوید. <br />
        <a href="/User/Login">ورود به سایت</a>
    </h2>
</div>
