* {
    margin: 0px;
    padding: 0px;
    font-family: yekan;
}
@font-face{
    font-family:farsi;
    src:url("../fonts/Mj_Farsi Simple Normal_0.ttf");

}

@font-face{
    font-family:yekan;
    src:url("../fonts/Yekan.ttf");
}

.img1 {
    filter:blur(65px);
}