@model UniProject.DataLayer.Entites.User
@{
    ViewData["Title"] = "ویرایش کاربر";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddUser</title>
</head>
<body >
    <div style="background-color:#CCF49E;">
        <hr />
    <div class="row">
        <center>
            <div class="col-md-4" style="margin-top:120px;">
                <h4>ویرایش کاربر</h4><br /><br />
                <form asp-action="EditUser" style="color:black;">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="@Model.Id" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="Family" class="control-label"></label>
                        <input asp-for="Family" class="form-control" />
                        <span asp-validation-for="Family" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsAdmin" />&nbsp;&nbsp;&nbsp;&nbsp; @Html.DisplayNameFor(model => model.IsAdmin)
                        </label>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="MeliCode" class="control-label"></label>
                        <input asp-for="MeliCode" class="form-control" />
                        <span asp-validation-for="MeliCode" class="text-danger"></span>
                    </div><br />
                    <div class="form-group">
                        <label asp-for="JoinDate" class="control-label"></label>
                        <input asp-for="JoinDate" class="form-control" />
                        <span asp-validation-for="JoinDate" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="Age" class="control-label"></label>
                        <input asp-for="Age" class="form-control" />
                        <span asp-validation-for="Age" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="City" class="control-label"></label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Edit" class="btn btn-primary col-md-4" />
                    </div>
                </form>

            </div>
        </center>
    </div>


    </div>

    

</body>
</html>
