@{
    ViewData["Title"] = "سلامتکده";
}
<section class="hero-wrap js-fullheight" id="lady_img" data-section="home" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
            <div class="col-md-6 pt-5 ftco-animate">
                <div class="mt-5">
                    <span class="subheading">به وبسایت مدیسن پلاس خوش آمدید</span>
                    <h1 class="mb-4">ما برای رسیدگی به مشکلات شما اینجا هستیم</h1>
                    <p class="mb-4">توضیحی درباره ی تمامی این دکنر ها و تمام کسانی رو که با دکتر ها در رابطه هستن میتوانید در اینجا پیدا کنید و لذت ببرید امیدوارم از بودن در این سات لذت ببرید</p>
                    <p><a href="#" class="btn btn-primary py-3 px-4">گرفتن وقت ملاقات با دکتر</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-counter img ftco-section ftco-no-pt ftco-no-pb" id="about-section">
    	<div class="container">
    		<div class="row d-flex">
    			<div class="col-md-6 col-lg-5 d-flex">
    				<div class="img d-flex align-self-stretch align-items-center" id="img_second">
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-7 pl-lg-5 py-md-5">
    				<div class="py-md-5">
	    				<div class="row justify-content-start pb-3">
			          <div class="col-md-12 heading-section ftco-animate p-4 p-lg-5">
			            <h2 class="mb-4">ما <span> مدیسن پلاس </span> هستیم یک کلینیک پزشکی </h2>
			            <p>در هنگام احساس درد یا کوچک ترین نشانه ای از مریضی سریعا به ما مراجعه کنید و بهترین خدمات رو با کوتاه ترین زمان از دکتران با تجربه و مجرب ما دریافت کنید مطمئن باشید زود خوب میشید</p>
			            <p><a href="#" class="btn btn-primary py-3 px-4">گرفتن وقت ملاقات</a> <a href="#" class="btn btn-secondary py-3 px-4">تماس با ما</a></p>
			          </div>
			        </div>
		        </div>
	        </div>
        </div>
    	</div>
    </section>

    <section class="ftco-section ftco-no-pt ftco-no-pb" id="department-section">
    	<div class="container-fluid px-0">
    		<div class="row no-gutters">
    			<div class="col-md-4 d-flex">
    				<div id="image_third" class="img img-dept align-self-stretch" ></div>
    			</div>

    			<div class="col-md-8">
    				<div class="row no-gutters">
    					<div class="col-md-4">
    						<div class="department-wrap p-4 ftco-animate">
    							<div class="text p-2 text-center">
    								<div class="icon">
    									<span class="flaticon-stethoscope"></span>
    								</div>
    								<h3><a href="#">نورولوژی</a></h3>
    								<p>یه سرویس خوبیه که نگو</p>
    							</div>
    						</div>
    						<div class="department-wrap p-4 ftco-animate">
    							<div class="text p-2 text-center">
    								<div class="icon">
    									<span class="flaticon-stethoscope"></span>
    								</div>
    								<h3><a href="#">جراحی</a></h3>
    								<p>بعد از جراحی دوباره متولد شوید</p>
    							</div>
    						</div>
    						<div class="department-wrap p-4 ftco-animate">
    							<div class="text p-2 text-center">
    								<div class="icon">
    									<span class="flaticon-stethoscope"></span>
    								</div>
    								<h3><a href="#">دندانپزشکی</a></h3>
    								<p>دندان های جدید و مقاوم و مادام العمر را از ما بخواهید</p>
    							</div>
    						</div>
    					</div>

    					<div class="col-md-4">
    						<div class="department-wrap p-4 ftco-animate">
    							<div class="text p-2 text-center">
    								<div class="icon">
    									<span class="flaticon-stethoscope"></span>
    								</div>
    								<h3><a href="#">آپتومالجی</a></h3>
    								<p>خودم هم نمیدونم  چی هست</p>
    							</div>
    						</div>
    						<div class="department-wrap p-4 ftco-animate">
    							<div class="text p-2 text-center">
    								<div class="icon">
    									<span class="flaticon-stethoscope"></span>
    								</div>
    								<h3><a href="#">کاردیولوژی</a></h3>
    								<p>حتما به اینجا تشریف بیارید</p>
    							</div>
    						</div>
    						<div class="department-wrap p-4 ftco-animate">
    							<div class="text p-2 text-center">
    								<div class="icon">
    									<span class="flaticon-stethoscope"></span>
    								</div>
    								<h3><a href="#">تراماتولوجی</a></h3>
    								<p> حتما به اینجا تشریف بیارید در خدمتون باشیم</p>
    							</div>
    						</div>
    					</div>

    					<div class="col-md-4">
    						<div class="department-wrap p-4 ftco-animate">
    							<div class="text p-2 text-center">
    								<div class="icon">
    									<span class="flaticon-stethoscope"></span>
    								</div>
    								<h3><a href="#">مگنتیک نوکلیر</a></h3>
    								<p>یه سرویس هسته ای خیلی عالی</p>
    							</div>
    						</div>
    						<div class="department-wrap p-4 ftco-animate">
    							<div class="text p-2 text-center">
    								<div class="icon">
    									<span class="flaticon-stethoscope"></span>
    								</div>
    								<h3><a href="#">ایکس ری</a></h3>
    								<p>لطفا اینجا تشریف بیارید</p>
    							</div>
    						</div>
    						<div class="department-wrap p-4 ftco-animate">
    							<div class="text p-2 text-center">
    								<div class="icon">
    									<span class="flaticon-stethoscope"></span>
    								</div>
    								<h3><a href="#">کاردیولوژی</a></h3>
    								<p>این خدمت رو به نحو احسنت براتون اعمال میکنیم</p>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>

